@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';
@import '@catppuccin/tailwindcss/mocha.css';
@import 'flag-icons/css/flag-icons.min.css';
@plugin '@iconify/tailwind4' {
	scale: 1.1;
}

@theme {
	--font-fredoka: 'fredoka', 'sans-serif';
	--font-inter: 'inter', 'sans-serif';
	--font-bebas: 'Bebas Neue', sans-serif;
	--font-montserrat: 'Montserrat', sans-serif;
	--font-roboto: 'Roboto', sans-serif;
	--font-space-grotesk: 'Space Grotesk', sans-serif;
	--font-dm-mono: 'DM Mono', monospace;
	--font-anonymous-pro: 'Anonymous Pro', monospace;
	--font-ubuntu-mono: 'Ubuntu Mono', monospace;
	--font-azeret-mono: 'Azeret Mono', monospace;
	--font-chivo-mono: 'Chivo Mono', monospace;
	--font-spline-sans-mono: 'Spline Sans Mono', monospace;

	--color-obs-background: #1d1f26;
	--color-obs-content: #272a33;
	--color-obs-padding: #3c404d;
}

@layer base {
	:root {
		@apply font-space-grotesk font-medium text-ctp-text selection:bg-ctp-lavender/50;
	}

	body {
		@apply m-0 flex h-screen w-full justify-center;
	}

	button {
		@apply cursor-pointer;
	}
}

@layer components {
	.button {
		@apply min-w-6 rounded-sm border-b-2 px-0.5 text-center text-black;
	}

	.button-container {
		@apply flex flex-wrap gap-1;
	}

	.button-selected {
		@apply border-ctp-lavender-950 bg-ctp-lavender;
	}

	.button-unselected {
		@apply border-ctp-lavender-950/50 bg-ctp-lavender/35 hover:bg-ctp-lavender/85;
	}

	.button-remove {
		@apply w-fit text-ctp-text/50 decoration-ctp-red hover:text-ctp-red hover:underline;
	}

	.input {
		@apply rounded-sm border-b-2 border-ctp-lavender-950 bg-obs-padding/75 px-1 outline-none focus:border-ctp-lavender focus:bg-obs-padding;
	}
}

@keyframes movingMaskBG {
	from {
		mask-position: 0px 0px;
	}
	to {
		mask-position: -192px -96px;
	}
}

/* source: https://www.geeksforgeeks.org/css/how-to-remove-arrow-on-input-type-number-with-tailwind-css/ */
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.remove-arrow {
	-moz-appearance: textfield;
}
